body {
  margin: 0%;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}
.flax {
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
}
.half-width img {
  height: 400px;
  width: 70%;
}
#border {
  height: 25%;
  border-left: 5px solid;
  border-color: rgba(231, 17, 17, 0.733);
  border-radius: 5px;
}
#border h1 {
  margin-left: 10px;
  font-size: 30px;
  line-height: 20px;
}
.orange {
  color: orange;
}
.button {
  background-color: #ff5959;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  font-weight: bold;
  border-radius: 5px;
}
.text-align {
  text-align: center;
  margin-top: -200px;
}
.mission-2020 {
  width: 30%;
}
.mission-2020 img {
  height: 30%;
  width: 50%;
}
.item {
  padding: 2%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(124, 145, 84);
}
.half-width1 img {
  margin-left: 20%;
  padding-top: 15%;
  height: 50%;
  width: auto;
}
.develop {
  margin-right: 10%;
  padding-top: 12%;
  padding-bottom: 5%;
}
.project-img-bac {
  background: url(shape-1.png);
  background-size: 100px 80px;
  background-repeat: no-repeat;
  background-position: right 8% top 52%;
  margin-top: -100px;
}
.devlop-img-bac {
  background: url(shape-1.png);
  background-size: 100px 120px;
  background-repeat: no-repeat;
  background-position: left 6% top 45%;
}
.project-text {
  margin-left: 10%;
  padding-top: 2%;
}
.project img {
  max-width: 100%;
  margin-top: -10%;
  height: 65%;
  margin-left: 18%;
  width: auto;
}
footer p {
  text-align: center;
  color: rgb(187, 172, 172);
  padding-bottom: 20px;
  margin-bottom: 0%;
}
.mission-2020-bottom {
  padding: 80px;
  margin-top: 50px;
  text-align: center;
  font-style: italic;
  color: blanchedalmond;
}

img {
  max-width: 100%;
}
.section-title {
  text-align: center;
  font-size: 48px;
}
.bd-grid {
  display: grid;
  width: auto;
  padding: 0px 10%;
}
.portfolio__container {
  justify-items: center;
  row-gap: 20px;
  /* width: auto; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
}
.portfolio__img img {
  border-radius: 5px;
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: palegreen;
  border-radius: 5px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
.portfolio__img:hover .portfolio__link {
  bottom: 0;
}
.portfolio__link-name {
  color: red;
  font-size: 15px;
}

/* add corona application */
.half-width-1 {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.half-width-1 {
  text-align: justify;
}
.corona-section {
  display: flex;
}
.img-add
{
  background-image: url(/images/shapes/shape-3.png),url(/images/shapes/shape-3.png),url(/images/shapes/shape-3.png);
  background-repeat: no-repeat;
  background-size: 140px,140px,140px;
  background-position: top left,bottom left,bottom right;
}
